@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: url("images/pexels-padrinan-1591061.jpg") no-repeat center / cover;
    padding: 50px 5%;
}

.container {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in {
    100% {
        transform: scale(1);
    }
}

header {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.animated {
    transform: translateY(30px);
}
.logo {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;

}

.navbar a:hover,
.navbar a.active {
    border-color: rgb(0, 0, 0);   
}

.home {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: rgb(0, 0, 0);
}

.home-detail h1 {
    font-size: 55px;
    line-height: 1;
}

.home-detail h2 {
    font-size: 32px;
}

.home-detail p {
    margin: 10px 0 20px;
}

.home-detail .download-social {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 40px;
    font-weight: 500;
    box-shadow: 0 0 10px white;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    box-shadow: none;
    color: rgb(49, 49, 49);
}

.home-detail .social-icons {
    margin-left: 20px;

}

.home-detail .social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 8px;
    transition: .5s;
}

.home-detail .social-icons a:hover {
    background: white;
    box-shadow: 0 0 10px;
    color: grey;
}

.home-img .img-box{
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    overflow: hidden;
}

.home-img .img-box img{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
