@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: url("images/a-blue-wrinkled-paper.jpg") no-repeat center / cover;
    padding: 50px 5%;
}

.container {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in {
    100% {
        transform: scale(1);
    }
}


